html/sesold/protected/config/*
html/sesold/protected/runtime/*
html/sesold/assets/*
html/svpold/protected/config/*
html/svpold/protected/runtime/*
html/svpold/assets/*
html/svpold/files/fileName/*
html/svpold/protected/files/*
html/yii1
html/yiifw/*
conf/*
.vscode
config/*