div.ProcessTab 
{
  font: normal 10pt Arial,Helvetica,sans-serif;
}

div.ProcessTab.form input,
div.ProcessTab.form textarea,
div.ProcessTab.form select
{
  margin: 0.2em 0 0.5em 0;
}

div.ProcessTab fieldset
{
  border: 1px solid #DDD;
  padding: 10px;
  margin: 0 0 10px 0;
  background: #EFEFEF;
  -moz-border-radius:7px;
}

div.ProcessTab.form legend
{
  font-weight: bold;
  font-size: 1em;
  background: #fff;
}
div.ProcessTab.form label
{
  font-weight: bold;
  font-size: 0.9em;
  display: block;
}

div.ProcessTab.form .row
{
  margin: 5px 0;
}

div.ProcessTab.form .hint
{
  margin: 0;
  padding: 0;
  color: #999;
}

div.form .note
{
  font-style: italic;
}

div.form span.required
{
  color: red;
}

div.ProcessTab.form div.error label:first-child,
div.ProcessTab.form label.error,
div.ProcessTab.form span.error
{
  color: #C00;
}

div.ProcessTab.form div.error input,
div.ProcessTab.form div.error textarea,
div.ProcessTab.form div.error select,
div.ProcessTab.form input.error,
div.ProcessTab.form textarea.error,
div.ProcessTab.form select.error
{
  background: #FEE;
  border-color: #C00;
}

div.ProcessTab.form div.success input,
div.ProcessTab.form div.success textarea,
div.ProcessTab.form div.success select,
div.ProcessTab.form input.success,
div.ProcessTab.form textarea.success,
div.ProcessTab.form select.success
{
  background: #E6EFC2;
  border-color: #C6D880;
}


div.ProcessTab.form .errorSummary
{
  border: 2px solid #C00;
  padding: 7px 7px 12px 7px;
  margin: 0 0 20px 0;
  background: #FEE;
  font-size: 0.9em;
}

div.ProcessTab.form .errorMessage
{
  color: red;
  font-size: 0.9em;
}

div.ProcessTab.form .errorSummary p
{
  margin: 0;
  padding: 5px;
}

div.form .errorSummary ul
{
  margin: 0;
  padding: 0 0 0 20px;
}

div.wide.form label
{
  float: left;
  margin-right: 10px;
  position: relative;
  text-align: right;
  width: 150px;
}

div.wide.form .row
{
  clear: left;
}

div.wide.form .buttons, div.wide.form .hint, div.wide.form .errorMessage
{
  clear: left;
  padding-left: 110px;
}



